h1 {
    background-color: cornflowerblue;
    color: beige;
}

img {
    width: 350px;
}

p {
    background: bisque;
    color: blue;
}

h2 {
    background: cadetblue;
    color: black;
}

ul {
    background: cornsilk;
    color: darkblue;
}


